__pycache__/
*.pyc
certs/*.crt
certs/*.key
certs/ca/
certs/jwt_keys/
certs/device_keys/
certs/device_id.txt
logs/*.jsonl
logs/revoked_tokens.json
logs/issued_tokens.json
logs/login_attempts.json
dashboard/dashboard.html
.venv/
venv/

certs/*
!certs/.gitkeep
dist/
